@mixin clearfix {
  &::after {
    content: "";
    display: table; //standard version , some standards to follow
    clear: both; //clear both float , not matter we use float:left or float:right
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-600px: Phone
600-900px: Tablet / portrait
900-1200: Tablet landscape
[200-1800] is where are normal default styles apply
1800 +: Big desktop
*/

// How to use @content :
// @mixin respond-phone {
//   @media (max-width: 600px) {
//     // content/block of styling passed while including mixin
//     @content;
//   }
// }

/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
ORDER: BASE _ typography > general layout + grid > page layout > components

1em = 16px(they work differently with media query, they directly take font-size comming from the bowser by default which is 16px)
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // only screen and , means only to screen (when someone tries to print out our page it wont apply)
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //+1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
