@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem); /*for spring effect*/
  }
  100% {
    opacity: 1;
    transform: translate(0); /*0 will go back to its orginal place*/
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem); /*for spring effect*/
  }
  100% {
    opacity: 1;
    transform: translate(0); /*0 will go back to its orginal place*/
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
